<h2> All Customers </h2>

	<% if @customers.empty? %>
	<p>You do not have any Customers, Create your first customer"</p>  <%= link_to "New Customer", new_customer_path %>


	<%else%>
		<table border = "1">
			<thead>
				<tr>
					<th>#</th>
					<th>Customer ID</th>
					<th>Customer_Name</th>
					<th>Phone_No</th>
					<th>Customer Location</th>
					<th>Delete Customer</th>
				</tr>
		
			</thead>
			
			<tbody>
				<% @customers.each_with_index do |customer,index| %>
				<tr>
					<td> <%= index + 1 %> </td>
					<td> <%= customer.id %> </td>
					<td> <%= customer.customer_name %> </td>
					<td> <%= customer.phone_no %> </td>
					<td> <%= customer.location %> </td>
					<td> <%=link_to "remove", customer, method: :delete, data: {confirm: "Are You Sure"} %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br/>
		
	<%end%>

	<!--link_to("Show All Orders", )-->

