<H2> Order Placed </H2>
<p> Sauda Number : <%= @order.sauda[:sauda_number] %></p>
<p> Sauda Date : <%= @order.sauda[:sauda_date].strftime("%d %B %Y") %></p>
<p> Order Number : <%= @order.order_number %></p>
<p> Order Date : <%= @order.order_date.strftime("%d %B %Y") %></p>
<!--<p> Your Order Date : <%= @order.order_date %></p>-->
 	<H2> Your Orders</H2>
 	<table border = "1">
 	
		<thead>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>Size</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		
		</thead>
		<tbody>
		<% @order.order_products.each_with_index do |line_item,index| %>
		
			<tr>
				<td> <%= index + 1 %> </td>

				<td> <%= line_item.product.category[:name] %> </td>
				<td> <%= line_item.product[:size] %> </td>
				<td> <%= line_item.order_quantity %> </td>
				<td> <%= line_item.price %> </td>

			</tr>
		<%end %>

		</tbody>
	</table>

	<H3> Total Order Value = <%= @order[:total] %></H3>
